Django>=4.0,<5.0
djangorestframework>=3.14.0
djangorestframework-simplejwt
django-cors-headers
django-storages>=1.13.2
google-cloud-storage>=2.14.0
google-auth>=2.0.0
django-jazzmin>=2.6.0
python-dotenv>=1.0.0
psycopg2-binary
pillow
gunicorn>=20.1.0
